body{
  background-color: silver;
  padding: 2%;
}
.header{
  background-color: rgb(45, 199, 42);
  width: 100%;
  height: 150px;
  display: flex;
  border: solid 3px;
  border-color: black;
  
}
.container2{
  display: flex;
}
.navigation{
  background-color:aqua; 
  width: 25%;
  height: 700px;
  margin-top: 2%;
  display: inline-flex;
  border: solid 3px;
  border-color: black;
}

.main{
  background-color: brown;
  width: 72%;
  height: 700px;
  display: inline-flex;
  margin-top: 2%;
  margin-left: 2%;
  padding: 1%;
  flex-direction: column;
  justify-content: space-around;
  border: solid 3px;
  border-color: black;
}
.columns{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.column1{
  background-color: yellow;
  width: 30%;
  height: 500px;
  display: inline-flex;
  flex-direction: column;
  border: solid 3px;
  border-color: black;
}
.column2{
  background-color: yellow;
  width: 30%;
  height: 500px;
  display: inline-flex;
  flex-direction: column;
}
.column3{
  background-color: yellow;
  width: 30%;
  height: 500px;
  display: inline-flex;
  flex-direction: column;
}
.advertisement{
  width: 97%;
  height: 100px;
  background-color: plum;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  border: solid 3px;
  border-color: black;
  
}